@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100%;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}
